{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["clsx", "cn"],
  "tailwindStylesheet": "./src/index.css",
  "singleQuote": true,
  "endOfLine": "auto",
  "semi": true,
  "tabWidth": 2
}