/* About section */
.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  padding: 7.125rem 1.5rem;
  width: 100vw;
  border-top-right-radius: 5.0625rem;
  background-color: #fff;
}

.top-section {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.top-section .title {
  width: 65%;
}

.outro {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #344563;
}

.top-section .supporting-text {
  margin-bottom: 1rem;
}

.top-section .social-media-links {
  padding: 0.75rem;
}

.skill-label-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.5rem;
  padding-left: 0.75rem;
  padding-right: 2.5rem;
  border-bottom: 0.0625rem solid  #dfe1e6;
}

.skill-label-container:first-child {
  border: none;
}

.skill-label-container .label {
  text-transform: capitalize;
  color: #000;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.skill-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style-type: none;
  padding: 0.75rem;
}

.skill-list li {
  background: #f7f7f9;
  border-radius: 0.5rem;
  padding: 0.5625rem 0 0.6075rem 0.75rem;
}

.skill-list li img {
  width: 3rem;
  object-fit: cover;
  border-radius: 50%;
  vertical-align: middle;
}

.skill-list li span {
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  vertical-align: middle;
  color: #253858;
  margin-left: 1rem;
}

/* Media Section for the About-section */

@media (min-width: 768px) {
  .about-section {
    flex-direction: row;
    gap: 25px;
    padding: 142px 134px;
  }

  .top-section {
    flex-shrink: 2;
    flex-grow: 1;
    flex-basis: 447px;
  }

  .top-section .title {
    width: 40%;
  }

  .top-section .supporting-text {
    margin-bottom: 26px;
  }

  .top-section .primary-btn {
    margin-top: 20px;
  }

  .skills-section {
    display: flex;
    flex-direction: column;
    flex: 3;
    width: 100%;
  }

  .skill-list {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .skill-list li {
    background: #f7f7f9;
    border-radius: 0.5rem;
    width: 122px;
    padding: 12px 12px 20px 12px;
  }

  .skill-list li span {
    display: block;
    margin-left: 0;
    margin-top: 16px;
  }
}
