/* About section */
.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  padding: 7.125rem 1.5rem;
  width: 100vw;
  border-top-right-radius: 5.0625rem;
  background-color: #fff;
}

.top-section {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.top-section .title {
  width: 65%;
}

.outro {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #344563;
}

.top-section .supporting-text {
  margin-bottom: 1rem;
}

.top-section .social-media-links {
  padding: 0.75rem;
}

.skill-label-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.5rem;
  padding-left: 1.5rem;
  padding-right: 2.5rem;
  border-bottom: 0.0625rem solid  #dfe1e6;
}

.skill-label-container:first-child {
  border: none;
}

.skill-label-container .label {
  text-transform: capitalize;
  color: #344563;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

#drop-btn {
  display: flex;
  align-items: center;
  border: none;
  padding: auto;
  cursor: pointer;
  background: transparent;
  transition: transform 0.5s;
}

.skill-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style-type: none;
  padding: 0.75rem 0;
  animation: fade-in 1s ease forwards;
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }

  0% {
    opacity: 0;
  }
}

.skill-list li {
  background: #f7f7f9;
  border-radius: 0.5rem;
  padding: 0.5625rem 0 0.6075rem 0.75rem;
}

.skill-list li img {
  width: 3rem;
  object-fit: cover;
  border-radius: 50%;
  vertical-align: middle;
}

.skill-list li span {
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  vertical-align: middle;
  color: #253858;
  margin-left: 1rem;
}

/* Media Section for the About-section */

@media (min-width: 48rem) {
  .about-section {
    flex-direction: row;
    gap: 1.5625rem;
    padding: 8.875rem 8.375rem;
  }

  .top-section {
    flex-basis: 40%;
  }

  .top-section .title {
    width: 40%;
  }

  .top-section .supporting-text {
    margin-bottom: 1.625rem;
  }

  .top-section .primary-btn {
    margin-top: 1.25rem;
  }

  .skills-section {
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
  }

  .skill-label-container {
    min-width: 28.125rem;
  }

  .skill-list {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .skill-list li {
    background: #f7f7f9;
    border-radius: 0.5rem;
    width: 7.625rem;
    padding: 0.75rem 0.75rem 1.25rem;
    transition: background-color 0.21s, transform 0.21s;
  }

  .skill-list li:hover {
    background-color: #e5e5e5;
    transform: scale(1.1);
    cursor: pointer;
  }

  .skill-list li span {
    display: block;
    margin-left: 0;
    margin-top: 1rem;
  }
}
