/* Contact section */
.contact-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../images/contact-form-m-bg.svg);
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  padding: 6.4375rem 1.5rem 2.8125rem 1.5rem;
  width: 100vw;
  border-top-left-radius: 5.0625rem;
  background-color: #6070ff;
}

footer {
  background-color: #fff;
}

footer .title {
  color: white;
}

.contact-note {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.75rem;
  text-align: center;
  color: #ebebff;
  margin-bottom: 5.4375rem;
}

footer input {
  height: 3rem;
  width: 100%;
  margin-bottom: 1.25rem;
  padding: 0.9375rem 1rem;
  font-size: 1.0625rem;
  color: #172b4d;
  border: 0.0625rem solid #cfd8dc;
  border-radius: 0.5rem;
}

footer textarea {
  padding: 0.9375rem 1rem;
  font-size: 0.9375rem;
  margin-bottom: 1.375rem;
  width: 100%;
  height: 10.625rem;
  border: 0.0625rem solid #cfd8dc;
  border-radius: 0.5rem;
  resize: none;
}

footer input:focus,
footer textarea:focus {
  outline: 0.1875rem solid #cfd8dc;
  outline-offset: 0.125rem;
}

footer .primary-btn {
  border: 0.0625rem solid #fff;
}

footer .primary-btn:active {
  background-color: #2230d2;
  border: none;
}

/* Media Section for the Footer*/

@media (min-width: 768px) {
  .contact-card {
    width: 100vw;
    background-image: url(../images/contact-form-d-bg.svg);
    background-origin: padding-box;
    background-position: center;
    gap: 30px;
  }
  footer .title {
    width: 100%;
    text-align: center;
  } 
  .contact-note {
    margin-bottom: 0;
    width: 569px;
  }
  
  footer form {
    display: flex;
    flex-direction: column;
    gap: 27px;
    width: 70%;
  }

  footer input,
  footer textarea {
    margin-bottom: 0;
    border-radius: 2px;
  }
  footer .primary-btn {
    align-self: center;
  }
}