@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: Poppins, sans-serif;
}

body {
  background-color: #e5e5e5;
}

.primary-btn {
  align-self: flex-start;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1.0625rem;
  line-height: 1.5rem;
  letter-spacing: 0.03em;
  width: auto;
  padding: 0.75rem;
  border: 0.0625rem solid #6070FF;
  border-radius: 0.5rem;
  color: #396DF2;
  background-color: transparent;
  white-space: nowrap;
}
.primary-btn:hover {
  color: #fff;
  background: #6070FF;
  box-shadow: 0px 8px 16px rgba(64, 83, 252, 0.24);
}
.primary-btn:active{
  background-color: #2230D2;
}
