@import "https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap";

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: Poppins, sans-serif;
  transition-duration: 0.5s;
}

body {
  background-color: #f7f7f9;
}

h2.dummy-heading {
  font-size: 0;
  visibility: hidden;
}

.primary-btn {
  align-self: flex-start;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.0625rem;
  line-height: 1.5rem;
  letter-spacing: 0.03em;
  width: auto;
  padding: 0.75rem;
  border: 0.0625rem solid #6070ff;
  border-radius: 0.5rem;
  color: #396df2;
  background-color: #fff;
  white-space: nowrap;
  cursor: pointer;
  transition: background-color 0.15s, box-shadow 0.15s;
}

.primary-btn:hover {
  color: #fff;
  background: #6070ff;
  box-shadow: 0 0.5rem 1rem rgb(64 83 252 / 24%);
}

.primary-btn:active {
  background-color: #2230d2;
}
