/* Toolbar Section */

.toolbar-containter {
  position: absolute;
  top: 0;
  left: 0;
  height: 3rem;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.75rem;
  transition: background-color 0.58s ease-out;
}

.logo-container a > * {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 4rem;
  padding: 0.625rem 0.75rem;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.25rem;
  cursor: pointer;
}

.hamburger-menu {
  position: relative;
  cursor: pointer;
}

.navigation {
  position: relative;
  list-style-type: none;
  gap: 2rem;
  display: none;
}

.navigation li {
  height: min-content;
}

.navigation a {
  position: relative;
  display: inline-block;
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  text-decoration: none;
  color: #344563;
  transition: color 0.6s;
}

.navigation a::after {
  position: absolute;
  content: "";
  width: 100%;
  transform: scaleX(0);
  height: 0.125rem;
  bottom: -0.625rem;
  left: 0;
  background-color: #6070ff;
  transition: transform 0.25s ease-out;
}

.active-navlink a::after {
  position: absolute;
  content: "";
  width: 100%;
  transform: scaleX(1);
  height: 0.125rem;
  bottom: -0.625rem;
  left: 0;
  background-color: #6070ff;
}

.navigation a:hover::after {
  transform: scaleX(1);
  transform-origin: center;
}

.navigation a:active {
  color: #6070ff;
}

.navigation a:active::after {
  background-color: #344563;
}

/* Mobile menu section */

.mobile-menu {
  position: fixed;
  z-index: 21;
  display: none;
  top: 0;
  right: 0;
  width: 100vw;
  min-height: 100vh;
  padding: 48px 24px 0 28px;
  background: rgb(96 112 255);
  background:
    radial-gradient(
      circle,
      rgb(96 112 255 / 89.4%) 0%,
      rgb(96 112 255 / 84.4%) 35%,
      rgb(96 112 255 / 88.9%) 100%
    );
  border: none;
}

.mobile-menu .menu-close-btn {
  float: right;
  width: max-content;
  background: transparent;
  border: none;
}

.mobile-menu .menu-close-btn a > * {
  width: 3.5rem;
  height: 3.5rem;
}

.mobile-menu .navigation {
  clear: both;
  flex-direction: column;
  gap: 2.5rem;
}

.mobile-menu .navigation a {
  display: block;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.75rem;
  color: #fff;
}

/* Header section */

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.75rem;
  background-image: url("../images/header-m-background.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: calc(36.75rem + 1.6781rem);
  width: 100vw;
  padding: 7.125rem 1.5rem;
  background-color: #fff;
  border-bottom-left-radius: 5.0625rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3.25rem;
  color: #172b4d;
}

.intro {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #344563;
}

.supporting-text {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  color: #7f8cff;
}

.social-media-links {
  display: flex;
  height: 2.5rem;
  align-items: center;
  list-style-type: none;
}

.social-media-links li {
  display: inline;
  margin-right: 1.25rem;
}

.social-media-links svg {
  width: 1.5rem;
  transition: transform 0.275s ease-in-out;
}

.social-media-links svg:hover {
  transform: translateY(-0.625rem) scale(1);
}

.social-media-links svg:hover path {
  fill: #6070ff;
}

.sticky-nav {
  background-color: #fff;
  border-bottom: 0.0625rem solid #e5e5e5;
}

/* Media Section for the Headline */

@media (min-width: 48rem) {
  .toolbar-containter {
    position: fixed;
    z-index: 3;
    height: 4.5rem;
    padding: 0 10%;
    filter: drop-shadow(0 3rem 3rem rgb(37 47 137 / 8%));
  }

  .menu-btn-container .hamburger-menu {
    display: none;
  }

  .menu-btn-container ul {
    display: inline-flex;
  }

  header {
    background-image: url("../images/header-d-background.svg");
    background-origin: padding-box;
    background-position: center;
    padding: 22.4375rem 12% 15.9375rem;
  }

  header .title {
    width: 69%;
    font-size: 3rem;
    line-height: 3.75rem;
  }

  .intro {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}
