/* Works section */
.works-grid {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 5.5rem;
  padding: 7.125rem 1.5rem;
  justify-items: center;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  border: 0.0625rem solid #dfe1e6;
  border-radius: 0.875rem;
  background-color: #fff;
  padding: 1rem;
  width: 85vw;
  overflow: auto;
}

.project-image-container {
  border-radius: 0.5rem;
}

.project-image-container img {
  width: 100%;
}

.project-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: unset;
  width: auto;
}

.project-title {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.75rem;
  width: 65%;
  color: #172b4d;
}

.project-details {
  display: inline-flex;
  align-items: center;
  gap: 0.75rem;
  height: 2rem;
}

.project-details span {
  display: block;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 0.8125rem;
  line-height: 1rem;
  color: #7a869a;
  white-space: nowrap;
}

.project-details .client-label {
  text-transform: uppercase;
  color: #344563;
}

.project-details .middot {
  color: #c1c7d0;
  font-size: 2.5rem;
  margin-bottom: 0.1875rem;
}

.project-desc {
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.5rem;
  color: #344563;
}

.tags {
  display: inline-flex;
  list-style-type: none;
  gap: 0.5rem;
}

.tags li {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.03em;
  color: #6070ff;
  background: #ebebff;
  padding: 0.25rem 0.75rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.btn-margin {
  margin: 0.75rem 0;
}

/* Project Detail Popup section */
.detail-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 22;
  background: rgb(193 199 208);
  background:
    linear-gradient(
      127deg,
      rgb(193 199 208 / 92.2%) 0%,
      rgb(193 199 208 / 90.8%) 35%,
      rgb(193 199 208 / 91.4%) 100%
    );
  width: 100%;
  height: 100%;
  padding: 40px 16px;
  animation: fade-in 0.45s ease-out;
}

.detail-popup {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 100.9%;
  height: 80vh;
  padding: 1rem;
  background-color: #fff;
  border: 0.0625rem solid #dfe1e6;
  border-radius: 1rem;
  overflow: scroll;
  animation: zoom-in 0.45s ease-out;
}

.on-backdrop-close {
  animation: fade-out 0.45s ease-out;
}

.on-popup-close {
  animation: zoom-out 0.45s ease-out;
}

@keyframes zoom-in {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes zoom-out {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.5);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.detail-header {
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
}

.detail-header .cancel-btn {
  width: max-content;
  background: transparent;
  border: none;
  cursor: pointer;
}

.detail-header .cancel-btn a > * {
  width: 2rem;
  height: 2rem;
}

.project-container-grid {
  display: grid;
  row-gap: 0.75rem;
}

.detail-popup .detail-image-container img {
  width: 100%;
  max-width: 800px;
}

.divider {
  display: block;
  height: 0.0625rem;
  margin: 0.5rem 0.25rem;
  border-top: 0.125rem solid #ebecf0;
}

.action-container {
  align-self: center;
  display: inline-flex;
  gap: 0.75rem;
  padding: 0.25rem 0.5625rem;
}

.action-container .primary-btn {
  display: flex;
  gap: 0.875rem;
  align-items: center;
}

.action-container .primary-btn:hover svg path {
  fill: #fff;
}

.left-block,
.right-block .tags {
  margin-right: 35px;
}

.project-container-grid .right-block {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

/* Media Section for the Project/Works */
@media (min-width: 64rem) {
  .project-container-grid {
    gap: 1.5rem;
  }
}

@media (min-width: 48rem) and (max-width: 64rem) {
  .action-container {
    margin-right: 1.5625rem;
  }
}

@media (min-width: 48rem) {
  .works-grid {
    gap: 8.875rem;
    padding: 10%;
    justify-content: center;
  }

  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1.375rem;
    border-radius: 1.375rem;
    transition: border 0.1s ease-in;
  }

  .projects:hover {
    border: 0.125rem solid #a7aeff;
    filter: drop-shadow(0 3rem 3rem rgb(37 47 137 / 8%));
  }

  .project-image-container {
    overflow: hidden;
    align-self: center;
    cursor: pointer;
  }

  .project-image-container img {
    max-width: 62.5rem;
    transition: transform 1s;
  }

  /* Popup section */

  .detail-popup {
    padding: 1.5rem;
    width: 100%;
  }

  .detail-popup .detail-image-container {
    width: 100%;
  }

  .detail-popup .detail-image-container img {
    width: 100%;
    max-width: unset;
  }

  .project-container-grid {
    width: 95%;
    margin: 2.5rem 0;
    grid-template-columns: 65% 35%;
    gap: 1.7rem;
  }

  .projects img:hover {
    transform: scale(1.2);
  }

  /* Replacing all the project images */

  .projects:nth-child(1) img {
    content: url("../images/snapshoot-portfolio-1.png");
  }

  .projects:nth-child(2) img {
    content: url("../images/snapshoot-portfolio-2.png");
  }

  .projects:nth-child(3) img {
    content: url("../images/snapshoot-portfolio-3.png");
  }

  .projects:nth-child(4) img {
    content: url("../images/snapshoot-portfolio-4.png");
  }

  #popup-prj-1 img {
    content: url("../images/snapshoot-portfolio-1.png");
  }

  #popup-prj-2 img {
    content: url("../images/snapshoot-portfolio-2.png");
  }

  #popup-prj-3 img {
    content: url("../images/snapshoot-portfolio-3.png");
  }

  #popup-prj-4 img {
    content: url("../images/snapshoot-portfolio-4.png");
  }

  .project-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 0.75rem;
    padding: 1.5rem;
  }

  .projects:nth-child(even) .project-container {
    order: -1;
  }

  .project-container .project-details,
  .project-container .project-desc,
  .project-container .tags {
    margin-bottom: 0.75rem;
  }

  .project-container .project-desc {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .project-details .client-label {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.5rem;
  }

  .project-details span {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: #6b778c;
  }

  .btn-margin {
    margin-top: 1.125rem;
  }
}
