/* Works section */
.works {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 5.5rem;
  padding: 7.125rem 1.5rem;
}

.projects{
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  min-height: 100vh;
  border: 0.0625rem solid #DFE1E6;
  border-radius: 1rem;
  background-color: #fff;
  padding: 1rem;
}
.projects:last-child {
  margin-bottom: 0;
}

.project-title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.75rem;
  width: 65%;
  color: #172B4D;
}

.project-details {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  height: 2rem;
}

.project-details span{
  text-transform: capitalize;
  color:#7A869A;
}

.project-details .client-label {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8125rem;
  line-height: 1rem;
  color: #344563;
}

.project-details .middot {
  color: #C1C7D0;
  font-size: 5rem;
}

.tags{
  display: inline-flex;
  list-style-type: none;
  gap: 0.5rem;
}

.tags li {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.03em;
  color: #6070FF;
  background: #EBEBFF;
  padding: 0.25rem 0.75rem;
  border-radius: 0.5rem;
}